
#contato {
    width: 100%;
    height: 60vh;

    display: flex;

    .container {
        width: 50%;
        height: 100%;
        color: rgb(0, 0, 0);
        

        h2 {
            margin-top: 10vh;
            font-size: 1.5vw;
            font-weight: bold;
            
        }
        h4 {
            margin-top: 2vh;
        }

        .forms {
            margin-top: 5vh;
            display: inline;
            
            width: 80%;
            .lab {
                width: 70%;
                margin-top: 5vh;
                margin-left: 0vh;
                font-size: 20px;
            }
            .lab-msg {
                width: 100%;
                font-size: 20px;
                margin-left: 0vh;
                padding-top: 25px;
                color: orangered;
            }
            .inpt {
                width: 50%;
                margin-top: 2vh;
                margin-left: 5vh;
            }
            .inpt-desc {
                width: 90%;
                height: 10vh;
                margin-top: 2vh;
                margin-left: 5vh;
            }
        }
        img {
            width: 100%;
            height: 100%;
            cursor: pointer;
            border-radius: 15px;
        }
    }
}

@media (max-width: 550px) {
    #contato {
        display: inline-block;

        .container {
            width: 100%;
            height: 50%;
        }
    }
}