

#slider {
    height: 120vh;
    width: 100%;
    background-color: black;
    background-image: url(./bg-4.jpg);
    background-position: center;
    background-size: cover;

    .container {
        height: 50%;
        width: 80%;
        margin-top: 45vh;
        display: inline-block;

        h2 {

            height: 10vh;
            font-size: 4vw;
            color: white;
        }
        .bolder-txt {
            font-size: 4.5vw;
            color: orangered;
            font-weight: bold;
        }

    }
    @media (max-width: 2560px) {
        .container {
    
            h2 {
                font-size: 6vw;
            }
            .bolder-txt {
                font-size: 6vw;
                color: orangered;
                font-weight: bold;
            }
    
        }
    }
    @media (max-width: 1440px) {
        .container {
    
            h2 {
                font-size: 7vw;
            }
            .bolder-txt {
                font-size: 7vw;
                color: orangered;
                font-weight: bold;
            }
    
        }
    }
    @media (max-width: 1024px) {
        .container {
    
            h2 {
                font-size: 9vw;
            }
            .bolder-txt {
                font-size: 9vw;
                color: orangered;
                font-weight: bold;
            }
    
        }
    }
    @media (max-width: 768px) {
        .container {
    
            h2 {
                font-size: 10vw;
            }
            .bolder-txt {
                font-size: 10vw;
                color: orangered;
                font-weight: bold;
            }
    
        }
    }

    @media (max-width: 550px) {
        .container {
    
            h2 {
                font-size: 14vw;
            }
            .bolder-txt {
                font-size: 13vw;
                color: orangered;
                font-weight: bold;
            }
    
        }
    }
}