
#navbar {
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.568);
    position: fixed;
    z-index: 10000;

    .container {

        height: 100%;
        width: 100%;
        margin-top: auto;
        margin-left: 0%; margin-right: 0%;
        display: flex;
        align-items: center;

        .logo {

            height: 100%;
            width: 30%;

            .container-md {
                width: 60%;
                height: 70%;
                margin: auto;
                margin-top: 15px;
                border: 1px solid rgba(255, 68, 0, 0.329);
                cursor: pointer;

                .txt-decoration {
                    color: orangered;
                    font-weight: bold;
                }

                h2 {
                    color: white;
                    font-size: 1.5vw;
                    margin-top: 2vh;
                }
            }
            
        }
        .navlinks {
            height: 100%;
            width: 70%;
            

            .nav {
                height: 100%;
                width: 90%;
                margin-top: 15px;
                justify-content: space-between;
                padding: 2%;
                display: flex;
                margin-left: auto; margin-right: auto;

                .nav-item {
                    cursor: pointer;
                    color: white;
                }
                .activate {
                    color: orangered;
                    font-weight: bold;
                }
                .nav-item:hover {
                    color: orangered;
                    transition: .2s;
                }
            }

            .nav-responsiva {
                width: 20%;
                margin-top: -3vh;
                visibility: hidden;
                margin-left: 70%;

                .drop {
                    width: 1%;
                    background-color: black;

                    .menu {
                        width: 1%;
                        background-color: black;
                        visibility: hidden;

                        .item {
                            visibility: hidden;
                        }
                    }

                }
            }
        }
    }
}


@media (max-width: 1024px) {
    #navbar {

        .container {
            
            .navlinks {
                background-color: transparent;
                .nav {
                    width: 1%;

                    .nav-item {
                        width: 0%;
                        visibility: hidden;
                    }
                    .activate {
                        visibility: hidden;
                    }
                }
                .nav-responsiva {
                    visibility: visible;
                    background-color: transparent;

                    .drop {
                        height: auto;
                        background-color: transparent;
                        cursor: pointer;


                        .dropdown-toggle {
                            height: 5vh;
                            margin-top: -2vh;
                            border: 1px solid rgba(8, 175, 187, 0.479);
                            background-color: transparent;
                        }

                        img {
                            width: 40px;
                            margin-top: 0vh;
                            
                        }

                        .item {
                            background-color: black;
                            margin-top: 15vh;
                        }
                    }
                }
            }
        }
    }
}