
#footer {
    width: 100%;
    height: 25vh;
    margin-top: 20vh;
    background-color: rgba(0, 0, 0, 0.884);

    .container {
        width: 100%;
        height: 100%;
        display: flex;
        
        .col-4  {
            width: 33%;
            height: 10vh;
            border-right: 1px solid rgba(255, 68, 0, 0.658);
            margin: auto;

            .col-12 {
                width: 80%;
                height: 2vh;
                margin: auto; margin-top: 1vh;
                text-align: left;
                color: rgba(255, 255, 255, 0.692);
                font-size: 12px;
                font-weight: 100;
                line-height: 25px;
            }

        }
        .right {
            border: none;
        }
    }
}


@media (max-width: 550px) {
    #footer {
        height: 70vh;
        .container {
            height: 50vh;
            display: inline-block;
            
            .col-4  {
                width: 100%;
                height: 10vh;
                margin-top: 10vh;
              
                .col-12 {
                    margin-top: 4vh;
                    height: 1vh;
                
                }
    
            }
            .right {
                border: none;
            }
        }
    }
}