

#testimunials {
    width: 100%;
    height: 100vh;
    background-color: white;
    background-image: url(./bg-2.jpg);

    h2 {
        position: absolute;
        margin-left: 42%;
        font-size: 35px;
        margin-top: 10vh;
        color: white;
    }

    .container {
        width: 80%;
        height: 80%;
        margin: auto;
        margin-top: 25vh;
        display: flex;

        .box {
            cursor: pointer;
            background-color: rgba(26, 24, 24, 0.719);
            width:25%;
            height: auto;
            
            box-shadow: rgba(50, 50, 93, 0.137) 0px 6px 12px -2px, rgba(0, 0, 0, 0.075) 0px 3px 7px -3px;
            margin: auto;
            margin-top: 30vh;

            .box-sec {
                width: 90%;
                height: 90%;
                border: 1px solid orangered;
                border-radius: 15px;
                backdrop-filter: blur( 8.5px );
                margin: auto;
                margin-top: 2vh;
                margin-bottom: 2vh;
                display: inline-block;
                

                .img-perfil {
                    width: 40%; height: 30%;
                    background-color: white;
                    margin: auto;
                    margin-top: 5vh;
                    border-radius: 5px;
                    
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                    }
                }

                .nome {
                    width: 80%; height: 4vh;
                    margin: auto; margin-top: 2vh;
                    text-align: center;

                    h2 {
                        color: rgb(255, 255, 255);
                        font-size: 20px;
                        font-weight: bold;
                        margin-left: 12%;margin-top: 1vh;
                    }
                }

                .desc {
                    width: 80%;
                    height: 30%;

                    margin: auto;
                    margin-top: 2vh;
                    margin-bottom: 5vh;

                    h4 {
                        color: white;
                        font-size: 18px;
                        font-weight: 100;
                        text-align: center;
                        line-height: 30px;
                        margin-top: 5vh;
                        
                    }
                }
            }
        }
        .box:hover {
            box-shadow: rgba(50, 50, 93, 0.356) 0px 6px 12px -2px, rgba(0, 0, 0, 0.26) 0px 3px 7px -3px;
        }
    }

}

@media (max-width: 550px) {

    #testimunials {
        height: auto;
        margin-top: 10vh;

        h2 {
            margin-top: 2vh;
            margin-left: 7vh;

        }
     
        .container {
            width: 90%;
            height: auto;
            display: inline-block;
            margin-top: 0vh;
            .box {
                width: 80%;
                margin-top: 10vh;
                margin-bottom: 3vh;
            }
        }
    }
}