

#testimunials {
    width: 100%;
    height: 90vh;

    h2 {
        margin: auto;
        color: white;
        font-size: 32px;
        margin-top: 10vh;
    }

    .container {
        width: 80%;
        height: 80%;
        margin: auto;
        display: flex;

        .box {
            cursor: pointer;
            background-color: rgba(26, 24, 24, 0.719);
            width:22%;
            height: 55vh;
            box-shadow: rgba(50, 50, 93, 0.137) 0px 6px 12px -2px, rgba(0, 0, 0, 0.075) 0px 3px 7px -3px;
            margin: auto;
            margin-top: 10vh;

            .imagem {
                width: 100%;
                height: 20vh;
                background-color: yellow;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .nome {
                width: 100%;
                height: 5vh;
                background-color: yellow;

                h3 {
                    padding-top: 15px;
                }
            }
            .box-i {
                width: 80%;
                height: 10vh;
                margin: auto;
                border-bottom: 1px solid rgba(255, 255, 255, 0.363);
                display: flex;

                .duracao {
                    width: 50%;

                    img {
                        margin: auto;
                        margin-top: 10px;
                        width: 30px;
                    }

                    h3 {
                        color: white;
                        font-size: 14px;
                        font-weight: bold;
                        margin-top: .5vh;
                    }
                    h4 {
                        color: white;
                        font-size: 12px;
                        margin-top: .5vh;
                    }
                }
                .intensidade {
                    width: 50%;

                    img {
                        margin: auto;
                        margin-top: 10px;
                        width: 30px;
                    }

                    h3 {
                        color: white;
                        font-size: 14px;
                        font-weight: bold;
                        margin-top: .5vh;
                    }
                    h4 {
                        color: white;
                        font-size: 12px;
                        margin-top: .5vh;
                    }
                }

            }
            .text {
                width: 100%;
                height: 10vh;
                h4 {
                    width: 80%;
                    margin: auto;
                    margin-top: 3vh;
                    text-align: left;
                    color: white;
                    font-weight: 100;
                }
            }
            button {
                color: whitesmoke;
                background-color: transparent;
                border: none;
                font-size: 18px;
                margin-top: 1vh;
            }

        }
        .box:hover {
            box-shadow: rgba(50, 50, 93, 0.356) 0px 6px 12px -2px, rgba(0, 0, 0, 0.26) 0px 3px 7px -3px;
        }
    }

}

@media (max-width: 550px) {

    #testimunials {
        height: auto;
        margin-top: 10vh;

        h2 {
            margin-top: 2vh;
            margin-left: 7vh;

        }
     
        .container {
            width: 90%;
            height: auto;
            display: inline-block;
            margin-top: 0vh;
            .box {
                width: 80%;
                margin-top: 10vh;
                margin-bottom: 3vh;
            }
        }
    }
}