

#icones {
    width: 100%;
    height: auto;
    background-color: rgba(29, 28, 28, 0.39);
    backdrop-filter: blur(5px);
    display: flex;
    margin-top: -20vh;

    .box {
        width: 15%;
        border-bottom: 3px solid rgba(11, 142, 194, 0.959);
        background-color: rgba(0, 0, 0, 0.788);
        border-radius: 20px;
        margin: auto;
        margin-top: 10vh;
        cursor: pointer;

        h3 {
            margin-top: 2vh;
            font-size: 25px;
            color: white;
        }
        h4 {
            font-size: 16px;
            color: white;
            font-weight: 100;
            margin-top: 2vh;
        }
        img {
            width: 100px;
            margin-top: 2vh;
        }
    }
}
@media (max-width: 2560px) {
    #icones {
        flex-wrap: wrap;
        height: auto;

        .box {
            width: 22%;
            height: 37vh;
            margin-bottom: 5vh;
            h3 {
                margin-top: 2vh;
                font-size: 30px;
                color: white;
            }
            h4 {
                font-size: 20px;
                color: white;
                font-weight: 100;
                margin-top: 2vh;
            }
            img {
                width: 80px;
                margin-top: 7vh;
            }
        }
    }
}
@media (max-width: 1440px) {
    #icones {
        flex-wrap: wrap;

        .box {
            width: 23%;
            height: 30vh;
            h3 {
                margin-top: 2vh;
                font-size: 23px;
                color: white;
            }
            h4 {
                font-size: 16px;
                color: white;
                font-weight: 100;
                margin-top: 2vh;
            }
            img {
                width: 90px;
                margin-top: 4vh;
            }
        }
    }
}
@media (max-width: 1024px) {
    #icones {
        flex-wrap: wrap;

        .box {
            width: 23%;
            h3 {
                margin-top: 2vh;
                font-size: 23px;
                color: white;
            }
            h4 {
                font-size: 16px;
                color: white;
                font-weight: 100;
                margin-top: 2vh;
            }
            img {
                width: 90px;
                margin-top: 2vh;
            }
        }
    }
}
@media (max-width: 768px) {
    #icones {
        flex-wrap: wrap;

        .box {
            width: 24%;
            h3 {
                margin-top: 2vh;
                font-size: 23px;
                color: white;
            }
            h4 {
                font-size: 16px;
                color: white;
                font-weight: 100;
                margin-top: 2vh;
            }
            img {
                width: 70px;
                margin-top: 2vh;
            }
        }
    }
}
@media (max-width: 550px) {
    #icones {
        flex-wrap: wrap;
        margin-top: 5vh;

        .box {
            margin-top: 0vh;
            width: 40%;
            h3 {
                margin-top: 2vh;
                font-size: 23px;
                color: white;
            }
            h4 {
                font-size: 16px;
                color: white;
                font-weight: 100;
                margin-top: 2vh;
            }
            img {
                width: 30px;
                margin-top: 2vh;
            }
        }
    }
}