

#time {
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: 10vh;


    .container {
        width: 50%;
        height: 50%;
        display: inline-block;

        .forms {
            width: 80%;
            height: auto;
            margin: auto; margin-top: 3vh;

            .standard-basic {
                width: 100%;
                margin-top: 15px;
                border: 1px solid rgba(230, 81, 31, 0.61);
                background-color: rgba(16, 15, 15, 0.859);
                border-radius: 5px;
                label {
                    color: wheat;

                }
                .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
                    width: 0px;
                    border: none;
                    height: 100%;
                }
                input {
                    color: var(--secundary-font-color-yellow);
                    border: none;
                }
                
            }
            .standard-basic-box {
                width: 100%;
                height: 10vh;
                margin-top: 15px;
                border: 1px solid rgba(230, 81, 31, 0.61);
                background-color: rgba(16, 15, 15, 0.859);
                border-radius: 5px;
                margin-right: 35px;
                label {
                    color: wheat;
                    height: 100%;
                }
                .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
                    width: 0px;
                    height: 100%;
                }
                .MuiFormLabel-root {
                    border: none;
                }
                input {
                    color: white;
                    color: var(--secundary-font-color-yellow);
                    height: auto;
                    border: none;
                }
            }

            .btn {
                width: 50%;
                margin-left: -7vh;
                margin-top: 20px;
                margin-bottom: 50px;
                background-color: transparent;
                border: 1px solid rgba(230, 81, 31, 0.61);
                visibility: visible;
            }
            .btn:hover {
                background-color: rgba(30, 23, 24, 0.779);
                color: orangered;
            }
        }

        h2 {
            margin-top: 25vh; margin-left: 10vh;
            width: 90%;
            font-size: 3vw;
            text-align: left;
            color: white;
        }
        h3 {
            margin-top: 5vh; margin-left: 10vh;
            width: 35%;
            font-size: 20px;
            line-height: 3.5vh;
            font-weight: 200;
            position: absolute;
            text-align: left;
            color: whitesmoke;
        }
        h4 {
            margin-top: 27vh;
            font-size: 25px;
            color: white;
            text-align: left;
            margin-left: 10vh;
            font-weight: 200;
        }

        .txt-decoration {
            color: rgb(230, 80, 31);
            font-weight: bolder;
        }

        .box {
            width: 50%;
            height: 20%;
            margin-top: 35vh;
            margin-left: 10vh;
            display: inline-block;

            img {
                margin-left: 7vh;
                width: 150px;
            }
            .counter-up {
                color: black;
            }
            h2 {
                margin-top: 1.5vh;
                font-size: 27px;
                font-weight: bold;
                margin-left: 10vh;
                color: rgb(11, 142, 194);
            }
            h3 {
                width: auto;
                margin-top: .5vh;
                margin-left: 10vh;
            }
        }
    }
}

@media (max-width: 1440px) {
    #time {

        .container {
            width: 50%;

            h2 {
                width: 100%;
                font-size: 3.5vw;
            }
            h3 {
                font-size: 1.8vw;
            }
    
            .box {
                margin-top: 50vh;
                margin-left: 2vh;
                img {
                    margin-left: 0vh;
                    width: 80px;
                }
                h2 {
                    margin-left: 0vh;
                    font-size: 2vw;
                }
                h3 {
                    margin-left: 0vh;
                    font-size: 1.5vw;
                }
            }
    
        }
    }
}
@media (max-width: 1024px) {
    #time {

        .container {
            width: 50%;
            height: 70vh;

            h2 {
                width: 100%;
                font-size: 3.5vw;
            }
            h3 {
                font-size: 1.8vw;
            }
    
            .box {
                margin-top: 50vh;
                margin-left: 0vh;
                img {
                    margin-left: -5vh;
                    width: 80px;
                }
                h2 {
                    margin-left: 3vh;
                    font-size: 2vw;
                }
                h3 {
                    margin-left: 2vh;
                    font-size: 1.5vw;
                }
            }
    
        }
    }
}
@media (max-width: 768px) {
    #time {
        display: inline-block;

        .container {
            width: 90%;
            height: auto;
            margin-top: 2vh;

            .forms {
                margin-top: 2vh;
            }

            h2 {
                width: 90%;
                font-size: 30px;
                margin-left: 2.5vh;
            }
            h3 {
                width: 90%;
                margin-left: 2.5vh;
                font-size: 18px;
            }
            h4 {
                font-size: 20px;
                margin-left: 2vh;
            }
    
            .box {
                margin-top: 2vh;
    
                img {
                    margin-left: 0vh;
                    width: 70px;
                }
                h2 {
                    width: auto;
                    margin-left: 5vh;
                }
                h3 {
                    width: auto;
                    margin-left: 5vh;
                }
            }
    
        }
    }
}
