

#atividades {
    width: 100%;
    height: 40vh;
    margin-top: 20vh;
    background-color: rgb(29, 28, 28);

    .container {
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;

        .col-4 {
            background-color: rgba(0, 0, 0, 0.479);
            height: 100%;
            width: 33%;
            margin: auto;

            img {
                width: 100%;
                height: 100%;
                opacity: .7;
                cursor: pointer;
            }
            img:hover {
                opacity: 1;
                transition: .2s;
            }

            .container-dark {
                width: 33%;
                height: 17%;
                margin-top: -17vh; 
                border-left: 2px solid rgb(11, 142, 194);
                background-color: rgba(0, 0, 0, 0.589);
                position: absolute;


                h3 {
                    text-align: left;
                    margin-top: 3vh; margin-left: 2vh;
                    font-size: 2vw;
                    color: white;
                }
                h4 {
                    text-align: left;
                    font-weight: 100;
                    margin-top: 1vh; margin-left: 2vh;
                    font-size: 16px;
                    line-height: 25px;
                    color: rgba(255, 255, 255, 0.938);
                }

            }
           
        }

    }
}

@media (max-width: 1024px) {
    #atividades {
        
        .container {
          
            .col-4 {
    
    
                .container-dark { 
                  height: auto;
                  margin-top: -20vh;
                    h3 {
                      
                    }
                    h4 {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
@media (max-width: 550px) {
    #atividades {
        height: auto;
        .container {
            margin-top: 5vh;
            display: inline-block;
            width: 100%;
    
            .col-4 {
    
                width: 100%;
                padding: 5px;
                margin-top: 10px;
    
                .container-dark { 
                    width: 100%;
                    height: 15vh;
    
                    h3 {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}