
#treinos {
    width: 100%;
    height: 60vh;

    .container {
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;

        .col-4 {
            background-color: rgba(0, 0, 0, 0.479);
            height: 70%;
            width: 33%;
            margin: auto;

            img {
                width: 100%;
                height: 100%;
                opacity: .7;
                cursor: pointer;
            }
            img:hover {
                opacity: 1;
                transition: .2s;
            }
            h3 {
                position: absolute;
                margin-top: -15vh; margin-left: 5vh;
                font-size: 3vw;
                font-weight: bold;
                color: white;
            }
        }


    }

    @media (max-width: 550px) {
        .container {
            margin-top: 5vh;
            display: inline-block;
            width: 100%;

            .col-4 {
                height: 15vh;
                width: 80%;
                padding: 5px;
                margin-top: 10px;
            }
        }
    }
}