
#contato {
    width: 100%;
    height: 60vh;
    display: flex;

    .container {
        width: 50%;
        height: 100%;
        color: rgb(0, 0, 0);
        

        h2 {
            margin-top: 10vh;
            font-size: 1.5vw;
            font-weight: bold;
            
        }
        h4 {
            margin-top: 2vh;
        }

        img {

            width: 50px;
        }

        .box-contato {
            width: 30%;
            margin: auto;
            margin-top: 5vh;
            justify-content: space-between;
            cursor: pointer;

            display: flex;
            .col-3-red {
                width: 10%;
                height: 5vh;
    
            }

        }
        
    }
}

@media (max-width: 1024px) {
    #contato {

        .container {
            
            h2 {
                font-size: 3vw;
            }
            h4 {
                width: 80%;
                margin: auto;
                margin-top: 5vh;
                font-size: 2vw;
            }
        }
    }
}
@media (max-width: 768px) {
    #contato {
        margin-top: 10vh;

    }
}
@media (max-width: 550px) {
    #contato {
        display: inline-block;

        .container {
            width: 100%;
            height: 50%;
        }
    }
}